cloud_id                 = "asdfgh"
folder_id                = "keke1111"
zone                     = "opopopo"
image_id                 = "opopopo"
public_key_path          = "gfgfgfgwgfdgg"
subnet_id                = "gfgfgfg"
service_account_key_file = "gdgdgdgdgdgdgd"

